.row.mt-4
  .col-md-6
    %article.show
      %image{data-src='#{@article.image_url}' class='cld-responsive'}
  .col-md-6.related
    %h3.lp related posts
    %ul
      - for related <- @related do
        %li
          %a{href='#{Routes.blog_path(@conn, :show, related)}'}
            = related.title
      %li
        %a{href='#{Routes.blog_path(@conn, :index)}'}
          All posts


.row
  .col-md-12
    = render CenatusLtdWeb.SharedView, "article.html", article: @article, current_user: @current_user, conn: @conn

    #disqus_thread.mt-4.mb-5

    :javascript
      var disqus_config = function () {
        this.page.url = "#{Routes.article_url(@conn, :edit, @article)}";
        this.page.identifier = "blog-article-#{@article.id}";
      };
