.row.admin
  .col-md-6
    %article
      %ul
        %li
          = link "users", to: Routes.user_path(@conn, :index)
        %li
          = link "articles", to: Routes.article_path(@conn, :index)
        %li
          = link "sections", to: Routes.section_path(@conn, :index)
        %li
          = link "categories", to: Routes.category_path(@conn, :index)
        %li
          = link "tags", to: Routes.tag_path(@conn, :index)
