= render_page_title(@conn)

.row.content.blog
  .col-12.col-md-9.blog-articles
    - for {article, _index} <- Enum.with_index(@articles) do
      = render "blog_article_preview.html", article: article, conn: @conn

  .col-12.col-md-3.order-md-last.blog-aside
    %aside.px-md-5
      %h4 categories
      .categories
        = CenatusLtdWeb.ArticleView.render_categories_as_links_from(@conn, @categories)

    -# TODO: Need a separate blog tags collection or can we filter backwards to
    -# include on Blog articles?
    %aside.px-md-5
      %h4 tags
      .tags
        = CenatusLtdWeb.ArticleView.render_tags_as_links_from(@conn, @tags)


= render "meta.html", conn: @conn, tweets: @tweets, tags: @tags, tech_tags: @tech_tags, tracks: @tracks
