.row.mb-4
  .col-md-12
    %article.preview.pb-3
      .row.align-items-center
        .col-12.col-md-4.p-md-4
          %a.link{href='#{blog_path(@conn, :show, @article)}'}
            %image{data-src='#{@article.image_url}' class='cld-responsive'}
        .col-12.col-md-8
          %h4.lp
            %a.link{href='#{blog_path(@conn, :show, @article)}'}
              = @article.title
          .summary.lp.col= @article.summary |> as_html
            %p.published.my-0.pr-3.text-right
              Published on
              = @article.published_at |> formatted
